.mobile-app-icon-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #fefefe;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.mobile-app-icon-bar button {
    padding: 1.25rem;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
}

header {
    border-bottom: solid 5px #f56a6a;
    padding: 20px;
}

.tabs-title > a {
    font-size: 18px;
    color: dimgrey;
}

.position-left {
    width: 110px;
}

.card-divider > p {
    font-size: large;
    font-weight: bold;
}

.tabs > li {
    width: 33.3%;
}

.tabs-title {
    text-align: center;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 450px;
}
