<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eda1707.movie2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="영화"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CommentWriteActivity"
            android:label="한줄평 작성" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="사진 보기"></activity>
        <activity
            android:name=".MainActivity"
            android:label="영화목록"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommentAllActivity"
            android:label="한줄평 목록">

        </activity>
    </application>

</manifest>